@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?bkn7m5');
  src:  url('fonts/icomoon.eot?bkn7m5#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?bkn7m5') format('truetype'),
    url('fonts/icomoon.woff?bkn7m5') format('woff'),
    url('fonts/icomoon.svg?bkn7m5#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-feed:before {
  content: "\e904";
}
.icon-users:before {
  content: "\e902";
}
.icon-enlarge:before {
  content: "\e903";
}
.icon-mic:before {
  content: "\e901";
}
.icon-microphone:before {
  content: "\e901";
}
.icon-voice:before {
  content: "\e901";
}
.icon-audio:before {
  content: "\e901";
}
.icon-cog:before {
  content: "\e900";
}

/* * {
  box-sizing: border-box;
} */

body{
  font-family: sans-serif;
  margin: 0;


}
.container{
  display: grid;
  grid-template-rows: 5vh 80vh 15vh;
  /* border: 1px solid blue; */
}
.header{
  background: #6c757e;
  display: flex;
  justify-content: flex-end;
  align-items: center;

}
.icon-enlarge{
  font-size: 25px;
  color: white;
  margin: .2em 1em;
}
.content{
  background: #343338;
  display: grid;
  grid-template-rows: 10vh 90vh;
  /* border: 1px solid red; */
}
.buttons-top{
  display: flex;
  justify-content: space-between;
  margin: 0 1.5em
}
.left-button{
  display: inherit;
  align-items: center;
}
.right-buttons{
  display: inherit;
  align-items: center;
}
.wordpress{
  color: #6c757e;
  border: 1px solid #d7d7d7;
  border-radius: 5px;
  padding: .5em 1em;
  background-color: #d7d7d7;
  margin: 1.5em 0;
}
.leave-meeting{
  color: white;
  border: 1px solid #d94964;
  border-radius: 5px;
  padding: .5em 1em;
  background-color: #d94964;
  margin: 1.5em .5em;
}
.icon-cog{
  font-size: 30px;
  color: #6c757e;
}


.screen{
  /* border: 1px solid green; */
  border-radius: 5px;
  height: 69.5vh;
  /* margin: 0 1.5em; */
}
.screen-users{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.user img {
  border-radius: 5px;
  object-fit: cover;
}

/*pantalla 1*/
.screen-users-1 img {
  width: 100%;
  height: 69.5vh;
}

/* pantalla 2 */
.screen-users-2 .user{
  width: 47%;
  padding: 0 .5em;
}
.screen-users-2 img {
  width: 100%;
  height: 69.5vh;
  }

/* pantalla 3-4 */
.screen-users-3-4 .user{
  width: 47%;
  padding: 0 .5em 0.5em;
}
.screen-users-3-4 .user img{
  width: 100%;
  height: 33.8vh;
}

/*pantalla 5 y 6*/
.screen-users-5-6 .user{
  width: 28%;
  padding: 0 .5em .7em;
}
.screen-users-5-6 .user img{
  width: 100%;
  height: 32vh;
}

/* pantalla 7 y 8*/
.screen-users-7-8 .user{
  width: 19.5%;
  padding: 0 .5em .7em;
}
.screen-users-7-8 .user img{
  width: 100%;
  height: 32.5vh;
}

/* pantalla 9, 10, 11 y 12*/
.screen-users-9-12 .user{
  width: 23%;
  padding: 0 .5em .5em;
}
.screen-users-9-12 .user img{
  width: 100%;
  height: 21.5vh;
}


.footer{
  background: #343338;
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttons-botton{
  font-size: 30px;
  color: white;
  margin: .8em;
}
.icon-mic{
  background: #6c757e;
  border-radius: 5px;
  padding: .5em;
}
.icon-users{
  background: #6c757e;
  border-radius: 5px;
  padding: .5em;
}
.icon-feed{
  background: #6c757e;
  border-radius: 5px;
  padding: .5em;
}

@media screen and (max-width: 1023px){
  .screen-users-9-12 .user{
    width: 22%;
  }
}
@media screen and (max-width:768px){

.screen-users-2 .user{
  width: 46.5%;
}
.screen-users-3-4 .user{
  width: 46%;
}
.screen-users-9-12 .user{
  width: 19%;
}
@media screen and (max-width: 480px){
  .screen-users-2 .user{
    width: 44.9%;
  }
  .screen-users-3-4 .user{
    width: 44%;
  }
  .buttons-botton{
    font-size: 25px;
  }
}
@media screen and (max-width: 320px){
  .buttons-botton{
    font-size: 18px;
  }
}
@media screen and (max-height: 480px){
  .wordpress, .leave-meeting{
    padding: 0.3em;
  }
  .icon-cog{
    font-size: 16px;
  }
  .buttons-botton{
    font-size: 18px;
  }
  .icon-enlarge{
    font-size: 16px;
    margin-right: 1.5em;
  }
  .screen-users-3-4 .user{
    padding: 0.03em 0.1em;
  }
  .buttons-botton{
    font-size: 20px;
  }
}
