/* * {
  box-sizing: border-box;
} */

body{
  font-family: sans-serif;
  margin: 0;


}
.container{
  display: grid;
  grid-template-rows: 5vh 80vh 15vh;
  /* border: 1px solid blue; */
}
.header{
  background: #6c757e;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.enlarge{
  background-color: inherit;
  border: none;
  font-size: 25px;
  color: white;
  margin: .2em 1em;
}
.content{
  background: #343338;
  display: grid;
  grid-template-rows: 10vh 90vh;
  /* border: 1px solid red; */
}
.buttons-top{
  display: flex;
  justify-content: space-between;
  margin: 0 1.5em
}
.left-button{
  display: inherit;
  align-items: center;
}
.right-buttons{
  display: inherit;
  align-items: center;
}
.wordpress{
  color: #6c757e;
  border: none;
  border-radius: 5px;
  padding: .5em 1em;
  background-color: #d7d7d7;
  margin: 1.5em 0;
}
.wordpress:hover{
  cursor: pointer;
  background-color: #b7b7b7;
}
.leave-meeting{
  color: white;
  border: none;
  border-radius: 5px;
  padding: .5em 1em;
  background-color: #d94964;
  margin: 1.5em .5em;
}
.leave-meeting:hover{
  cursor: pointer;
  background-color: #bb3d55;
}

.cog{
  font-size: 30px;
  color: #6c757e;
  background-color: inherit;
  border: none;
}


.screen{
  /* border: 1px solid green; */
  border-radius: 5px;
  height: 69.5vh;
  /* margin: 0 1.5em; */
}
.screen-users{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.user img {
  border-radius: 5px;
  object-fit: cover;
}

/*pantalla 1*/
.screen-users-1 img {
  width: 100%;
  height: 69.5vh;
}

/* pantalla 2 */
.screen-users-2 .user{
  width: 47%;
  padding: 0 .5em;
}
.screen-users-2 img {
  width: 100%;
  height: 69.5vh;
  }

/* pantalla 3-4 */
.screen-users-3-4 .user{
  width: 47%;
  padding: 0 .5em 0.5em;
}
.screen-users-3-4 .user img{
  width: 100%;
  height: 33.8vh;
}

/*pantalla 5 y 6*/
.screen-users-5-6 .user{
  width: 28%;
  padding: 0 .5em .7em;
}
.screen-users-5-6 .user img{
  width: 100%;
  height: 32vh;
}

/* pantalla 7 y 8*/
.screen-users-7-8 .user{
  width: 19.5%;
  padding: 0 .5em .7em;
}
.screen-users-7-8 .user img{
  width: 100%;
  height: 32.5vh;
}

/* pantalla 9, 10, 11 y 12*/
.screen-users-9-12 .user{
  width: 23%;
  padding: 0 .5em .5em;
}
.screen-users-9-12 .user img{
  width: 100%;
  height: 21.5vh;
}


.footer{
  display: flex;
  flex-wrap: wrap;
  background: #343338;
  display: flex;
  justify-content: center;
  align-items: center;
}
.line{
  border: 1px solid #45484a;
  margin: 0 .5em;
  padding-top: 5em;
}
.button-bottons{
  display: grid;
  text-align: center;
  /* font-size: 10px; */
  color: #6c757e;
  margin: 0 .5em;
}
.icon-bottons{
  background: #6c757e;
  border-radius: 5px;
  padding: 1em;
  border: none;
  color: white;
  font-size: 1.2em;
}
.icon-bottons:hover{
  cursor: pointer;
  background-color: #5c6167;
}



@media screen and (max-width: 1023px){
  .screen-users-9-12 .user{
    width: 22%;
  }
}
@media screen and (max-width:768px){
  .screen-users-2 .user{
    width: 46.5%;
  }
  .screen-users-3-4 .user{
    width: 46%;
  }
  .screen-users-9-12 .user{
    width: 19%;
  }
}
@media screen and (max-width: 480px){
  .screen-users-2 .user{
    width: 44.9%;
  }
  .screen-users-3-4 .user{
    width: 44%;
  }
  .icon-bottons{
    font-size: 1em;
  }
  .button-bottons{
    margin: 0 0.2em;
  }
  .line{
    padding-top: 2.5em;
  }
}
@media screen and (max-width: 320px){
  .button-bottons{
    margin: 0 0.1em;
  }
  .line{
    padding-top: 2em;
  }
}
@media screen and (max-height: 567px){
  .wordpress, .leave-meeting{
    padding: 0.3em;
  }
  .icon-cog{
    font-size: 16px;
  }
  .button-bottons{
    /* font-size: 18px; */
  }
  .icon-enlarge{
    font-size: 16px;
    margin-right: 1.5em;
  }
  .screen-users-3-4 .user{
    padding: 0.03em 0.1em;
  }
  .icon-bottons{
    padding: .5em;
    font-size: .8em;
  }
  .button-bottons{
    /* font-size: 20px; */
  }
  .line{
    padding-top: 2.5em;
  }
}
